$defaultBgColor: #EFEFEF;
$defaultFontColor: #414141;
$defaultLinkColor: #2EA225;
$defaultLinkDarkColor: #188212;
$primaryButtonBgColor: #2EA225;
    
$headerBgColor: #1E1E21;
$headerBorderColor: #29292D;
$headerShadowColor: rgba(0,0,0,0.2);

$headerLinkColor: #f5f5f5;
$headerLinkBgColor: #1E1E21;
$headerLinkBorderColor: #29292D;
$headerLinkHighlightColor: rgba(67,210,158,0.5);
$headerLinkSecondColor: #f5f5f5;
$headerLinkBgSecondColor: #188212;
$headerLinkBorderSecondColor: #188212;
$headerLinkShadowColor: #056100;

$footerBgColor: #1E1E21;
$footerFontColor: #848484;
$footerLinkColor: $footerFontColor;

$boxContainerBgColor: #fff;

$playerChanelListBorderColor: #fff;
$playerChanelListArrowColor: #188212;

$thumbnailLayerBgColor: #000;
$thumbnailTitleFontColor: #fff;
$thumbnailSmallOtherInfoFontColor: $defaultLinkColor;
$thumbnailBigTitleBgColor: rgba(0,0,0, 0.6);
$thumbnailBigViewerFontColor: #414141;