body.dark-orange, body.light-orange {
    a {
        color: #E93C1A;    
    }    
    
    header {
        a {
            color: #fff;
        }
        
        .container {
            .navbar, .right-menu {
            a:hover,
                .current-tab a {
                    color: $headerLinkSecondColor;
                    background-color: #E93C1A;
                    border-color: #E93C1A;
                }
            }
        }
    }
    
    footer {
        //background-color: #fff;
        color: #848484;

        a {
            color: #848484;
        }
    }
        
    .video-player-container {
        >.container {
            .chanel-list {
                padding: 0;

                a.active {
                    border-color: #E93C1A!important;
                    
                    .arrow-left {
                        border-right:7px solid #E93C1A!important;
                    }
                }
            }
        }
    }
    
    .thumbnail-small .thumb-info .other_info {
        color: #E93C1A!important;
    }
    
    .btn-primary {
        background-color: #E93C1A!important;
        background-image: none;
    }
}

body.light-orange {
    header a {
        color: #8c8c8c;
    }
    
    footer {
        //background-color: #fff;
        color: #414141;
        
        a {
            color: #414141;
        }
    }
}