// Site specific color shema
$siteSpecificColor1 : #EFEFEF;
$siteSpecificColor2 : #414141;
$siteSpecificColor3 : #E93C1A;
$siteSpecificColor4 : #FF0000;
$siteSpecificColor5 : #1E1E21;
$siteSpecificColor6 : #29292D;
$siteSpecificColor7 : rgba(0,0,0,0.2);
$siteSpecificColor8 : #f5f5f5;
$siteSpecificColor9 : rgba(145,23,0,0.5);
$siteSpecificColor10: #911700;
$siteSpecificColor11: #848484;
$siteSpecificColor12: #fff;
$siteSpecificColor13: #000;
$siteSpecificColor14: rgba(0,0,0, 0.6);
$siteSpecificColor15: #777;
$siteSpecificColor16: #ddd;
$siteSpecificColor17: #cbc8d0;
$siteSpecificColor18: #7fcbf3;
$siteSpecificColor19: #e368d7;
$siteSpecificColor20: #ea4e2c;
// Site specific color shema end

$defaultBgColor: $siteSpecificColor1;
$defaultFontColor: $siteSpecificColor2;
$defaultLinkColor: $siteSpecificColor3;
$defaultLinkActiveColor: $siteSpecificColor4;
$defaultLinkDarkColor: $siteSpecificColor3;
$primaryButtonBgColor: $siteSpecificColor3;
    
$headerBgColor: $siteSpecificColor5;
$headerBorderColor: $siteSpecificColor6;
$headerShadowColor: $siteSpecificColor7;

$headerLinkColor: $siteSpecificColor8;
$headerLinkBgColor: $siteSpecificColor5;
$headerLinkBorderColor: $siteSpecificColor6;
$headerLinkHighlightColor: $siteSpecificColor9;
$headerLinkSecondColor: $siteSpecificColor8;
$headerLinkBgSecondColor: $siteSpecificColor3;
$headerLinkBorderSecondColor: $siteSpecificColor3;
$headerLinkShadowColor: $siteSpecificColor10;

$footerBgColor: $siteSpecificColor5;
$footerFontColor: $siteSpecificColor11;
$footerLinkColor: $siteSpecificColor11;

$boxContainerBgColor: $siteSpecificColor12;

$playerChanelListBorderColor: $siteSpecificColor12;
$playerChanelListArrowColor: $siteSpecificColor3;

//thumbnail
$thumbnailLayerBgColor: $siteSpecificColor13;
$thumbnailTitleFontColor: $siteSpecificColor12;
$thumbnailSmallOtherInfoFontColor: $siteSpecificColor3;
$thumbnailBigTitleBgColor: $siteSpecificColor14;
$thumbnailBigViewerFontColor: $siteSpecificColor11;
$thumbnailShadowColor: $siteSpecificColor7;

//video player
$videoControlBgColor: $siteSpecificColor14;
$videoControlFontColor: $siteSpecificColor8;
$videoSliderBgColor: $siteSpecificColor3;
$videoSilderHandleBgColor: $siteSpecificColor8;
$videoSliderHandleActiveBgColor: $siteSpecificColor8;
$videoSliderRangeBgColor: $siteSpecificColor3;
$videoMiniControlFontColor: $siteSpecificColor8;
$videoFullscreenBgColor: $siteSpecificColor13;

//layout with bars
$barsLayoutLeftBarBgColor: $siteSpecificColor5;
$barsLayoutLeftBarCloseBtnBgColor: $siteSpecificColor5;
$barsLayoutLeftBarCloseHoverBtnBgColor: $siteSpecificColor3;
$barsLayoutLeftBarCloseHoverBtnFontColor: $siteSpecificColor5;
$barsLayoutLeftBarDefaultFontColor: $siteSpecificColor8;
$barsLayoutLeftBarHeaderFontColor: $siteSpecificColor8;
$barsLayoutLeftBarHeaderBorderColor: $siteSpecificColor13;
$barsLayoutLeftBarBtnBgColor: $siteSpecificColor13;
$barsLayoutLeftBarBtnFontColor: $siteSpecificColor8;
$barsLayoutLeftBarBtnHoverBgColor: $siteSpecificColor3;
$barsLayoutLeftBarFooterBolderColor: $siteSpecificColor13;
$barsLayoutLeftBarFooterFontColor: $siteSpecificColor15;
$barsLayoutLeftBarFooterHoverFontColor: $siteSpecificColor12;
$barsLayoutLeftBarCollapsedImgBorderColor: $siteSpecificColor8;
$barsLayoutLeftBarCollapsedDefaultColor: $siteSpecificColor8;
//content
$barsContentHeaderFilterBorderColor: $siteSpecificColor11;
$barsContentHeaderActiveLinkColor: $siteSpecificColor2;
$barsContentHeaderActiveLinkBorderColor: $siteSpecificColor3;
//right
$barsLayoutRightBarBgColor: $siteSpecificColor16;
$barsLayoutRightNotLoginListBgColor: $siteSpecificColor12;
$barsLayoutRightNotLoginListBorderColor: $siteSpecificColor3;
$barsLayoutRightCloseBtnBgColor: $siteSpecificColor16;
$barsLayoutRightHoverLinkBgColor: $siteSpecificColor3;
$barsLayoutRightHoverLinkColor: $siteSpecificColor8;
$barsLayoutRightLoggedHeaderBorderColor: $siteSpecificColor7;
$barsLayoutRightLoggedHeaderFontColor: $siteSpecificColor11;
$barsLayoutRightLoggedListLinkColor: $siteSpecificColor11;
$barsLayoutRightLoggedChanelNameHoveredColor: $siteSpecificColor3;

//PAGES
//chat
$chatPageHeaderImgBorderColor: $siteSpecificColor3;
$chatPageSubscriptionNumberColor: $siteSpecificColor8;
$chatPageViewersNumberColor: $siteSpecificColor3;
$chatPageMiniPlayerBorderColor: $siteSpecificColor12;
$chatPageMiniPlayerBgColor: $siteSpecificColor12;
$chatPageMiniPlayerVideoBorderColor: $siteSpecificColor3;
$chatPageChatHeaderBorderColor: $siteSpecificColor11;
$chatPageTextareaFocusShadowColor: $siteSpecificColor5;
$chatPageTextareaFocusBorderColor: $siteSpecificColor17;
$chatPageSettingsShadowColor: $siteSpecificColor5;
$chatPageSettingsBgColor: $siteSpecificColor1;

$chatPageChatTextColor1: $siteSpecificColor2;
$chatPageChatTextColor2: $siteSpecificColor18;
$chatPageChatTextColor3: $siteSpecificColor19;
$chatPageChatTextColor4: $siteSpecificColor20;

//main
$mainPageChanelListBgColor: $siteSpecificColor14;
$mainPageChanelListActiveBorderColor: $siteSpecificColor3;
$mainPageChanelListActiveArrowBorderColor: $siteSpecificColor3;
