$page-small-width: 550px;
$page-medium-width: 750px;
$page-large-width: 970px;
$page-extra-large-width: 970px;
$page-huge-width: 1440px;

$page-small-query-width: 576px;
$page-medium-query-width: 768px;
$page-large-query-width: 992px;
$page-extra-large-query-width: 1200px;
$page-huge-query-width: 1500px;