@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/** enf of the reset css **/
/**************************** configs ********************************/
/****************************** skin ********************************/
/**************************** default config *************************/
.clear {
  font-size: 0;
  line-height: 0;
  clear: both;
  float: none;
  height: 0;
  width: 0;
  display: block; }

body {
  font-family: "Microsoft Yahei", 微软雅黑, "Helvetica Neue", adobe雅黑, "helvetica neue", tahoma, "hiragino sans gb", stheiti, "wenquanyi micro hei", 宋体, sans-serif;
  background-color: #EFEFEF;
  color: #414141;
  font-size: 0;
  min-width: 320px;
  height: 100%;
  overflow-x: hidden; }

footer {
  margin-top: 15px;
  padding: 30px 0;
  background-color: #1E1E21;
  color: #848484; }
  footer .container {
    text-align: center; }
    footer .container p {
      margin: 5px 0; }
    footer .container p, footer .container a {
      font-size: 12px;
      line-height: 22px; }
    footer .container a {
      color: #848484; }

a,
a:hover,
a:active,
a:visited,
a:focus,
a:active:focus {
  text-decoration: none;
  outline: none !important;
  border: none;
  color: #FF0000; }

a {
  color: #E93C1A; }
  a:hover {
    text-decoration: none;
    color: #E93C1A; }

.fa {
  font-size: 14px; }

.btn,
.form-control,
.input-group-addon,
.modal .modal-content,
.navbar {
  border-radius: 0; }

.btn {
  border: none;
  color: #f5f5f5; }
  .btn:hover, .btn:active, .btn:visited, .btn:focus, .btn:active:focus {
    color: #f5f5f5; }

.btn-primary {
  background-color: #E93C1A;
  background-image: none; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus, .btn-primary:active:focus {
    background-color: #E93C1A;
    outline: none !important; }

.btn-reverse {
  border: 1px solid #E93C1A;
  color: #E93C1A; }
  .btn-reverse:hover, .btn-reverse:active, .btn-reverse:visited, .btn-reverse:focus, .btn-reverse:active:focus {
    background-color: #ffb38a;
    outline: none !important;
    border: 1px solid #E93C1A;
    color: #E93C1A; }

.container {
  min-width: 320px; }
  @media screen and (min-width: 1500px) {
    .container {
      width: 1440px; } }

.box-container {
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fff; }

.result-container {
  margin-left: 20px;
  margin-right: 20px;
  min-width: 120px; }

.ie9-sucks {
  display: inline-block;
  width: 0;
  height: 0; }

/******************************** default config end ****************/
/********************************** blocks **************************/
header {
  height: 56px;
  border-color: #29292D;
  background: #1E1E21;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }
  header .container {
    margin: 0 auto;
    position: relative; }
    header .container .logo {
      float: left;
      position: relative;
      width: 80px;
      height: 46px;
      top: 5px; }
      header .container .logo img {
        height: 47px; }
    header .container nav .navbar {
      position: absolute;
      top: 0;
      left: 120px;
      overflow: hidden;
      border: none; }
      header .container nav .navbar .tab {
        float: left;
        position: relative;
        height: 100%;
        z-index: 1; }
    @media screen and (max-width: 768px) {
      header .container nav {
        display: none;
        position: absolute;
        right: 0;
        top: 56px;
        width: 100%;
        background-color: #1E1E21;
        z-index: 2; }
        header .container nav .navbar {
          position: static;
          margin: 0; }
          header .container nav .navbar .tab {
            float: none; }
            header .container nav .navbar .tab a {
              width: 100%; }
        header .container nav .right-menu {
          float: none;
          margin: 0;
          padding: 0; }
          header .container nav .right-menu.auth {
            margin: 0; }
          header .container nav .right-menu a {
            border: none;
            display: block; }
        header .container nav .navbar a,
        header .container nav .right-menu a {
          border-top: 1px solid #29292D; } }
    header .container .mobile-menu-button {
      float: right;
      display: none;
      font-size: 30px;
      position: relative;
      top: 6px; }
      @media screen and (max-width: 768px) {
        header .container .mobile-menu-button {
          display: block; } }
    header .container a {
      color: #f5f5f5;
      background-color: transparent;
      border-color: #29292D;
      text-shadow: none;
      -webkit-tap-highlight-color: rgba(145, 23, 0, 0.5);
      transition: background-color 300ms, border-color 300ms, color 300ms, text-shadow 300ms; }
    header .container .navbar a,
    header .container .right-menu a {
      height: 56px;
      line-height: 56px;
      display: inline-block;
      font-size: 14px;
      padding: 0 15px;
      border-left-width: 1px;
      border-left-style: solid; }
    header .container .navbar a:hover,
    header .container .navbar .current-tab a, header .container .right-menu a:hover,
    header .container .right-menu .current-tab a {
      color: #f5f5f5;
      background-color: #E93C1A;
      border-color: #E93C1A;
      text-shadow: 1px 1px 0 #911700;
      transition: background-color 300ms, border-color 300ms, color 300ms, text-shadow 300ms; }
    header .container .right-menu {
      float: right;
      position: relative;
      margin: 0 15px;
      font-size: 14px;
      padding: 12px 0; }
      @media screen and (max-width: 360px) {
        header .container .right-menu {
          margin-left: 0; } }
      @media screen and (max-width: 992px) {
        header .container .right-menu .search-form {
          width: 140px; } }
      header .container .right-menu.auth {
        margin-left: 15px;
        padding-top: 0px; }
    header .container .last-tab {
      border-right-width: 1px;
      border-right-style: solid; }

.search-form {
  position: relative; }
  .search-form input[type="text"] {
    height: 30px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 24px;
    outline: none;
    box-sizing: border-box;
    padding: 2px 30px 2px 10px;
    border: none;
    border-radius: 0;
    width: 180px; }
    @media screen and (max-width: 992px) {
      .search-form input[type="text"] {
        width: 140px; } }
  .search-form .search-submit-btn {
    position: absolute;
    top: 0;
    right: 0;
    zoom: 1;
    overflow: hidden;
    z-index: 1;
    opacity: 0; }
    .search-form .search-submit-btn input {
      display: block;
      padding: 0;
      width: 30px;
      height: 30px;
      text-indent: -9999px;
      border-width: 0;
      z-index: 1; }
  .search-form i {
    position: absolute;
    font-size: 14px;
    top: 8px;
    right: 8px; }

#login-modal .modal-title {
  font-size: 16px; }

#login-modal .modal-footer {
  text-align: center; }
  #login-modal .modal-footer p {
    text-align: center;
    margin-top: 20px;
    font-size: 12px; }

.left-menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  z-index: 3;
  background-color: #1E1E21; }
  .left-menu-bar .close-bar-btn {
    width: 15px;
    position: absolute;
    top: 50%;
    left: 240px;
    background-color: #1E1E21;
    padding: 20px 0;
    border-radius: 0 30px 30px 0; }
    .left-menu-bar .close-bar-btn .icon-right {
      display: none; }
    .left-menu-bar .close-bar-btn:hover {
      background-color: #E93C1A;
      color: #f5f5f5; }
  .left-menu-bar .sidebar-expanded {
    text-align: center;
    padding: 15px; }
    .left-menu-bar .sidebar-expanded .sidebar-header {
      margin-bottom: 15px; }
      .left-menu-bar .sidebar-expanded .sidebar-header .search-form input[type="text"] {
        width: 100%; }
      .left-menu-bar .sidebar-expanded .sidebar-header ul {
        margin: 25px 0;
        text-align: left; }
        .left-menu-bar .sidebar-expanded .sidebar-header ul li {
          display: block;
          margin-bottom: 15px;
          font-size: 15px; }
          .left-menu-bar .sidebar-expanded .sidebar-header ul li:last-child {
            margin-bottom: 0; }
          .left-menu-bar .sidebar-expanded .sidebar-header ul li a {
            color: #f5f5f5; }
            .left-menu-bar .sidebar-expanded .sidebar-header ul li a i {
              font-size: 20px;
              width: 22px;
              margin-right: 20px;
              position: relative;
              top: 2px; }
    .left-menu-bar .sidebar-expanded .sidebar-content {
      position: absolute;
      left: 15px;
      right: 10px;
      top: 225px;
      bottom: 90px; }
      .left-menu-bar .sidebar-expanded .sidebar-content h4 {
        text-align: left;
        margin-bottom: 10px;
        color: #f5f5f5;
        border-bottom: 1px solid #000;
        padding-bottom: 10px;
        font-size: 14px;
        margin-right: 5px; }
      .left-menu-bar .sidebar-expanded .sidebar-content ul {
        margin-bottom: 20px; }
        .left-menu-bar .sidebar-expanded .sidebar-content ul li {
          display: inline-block;
          margin: 0 5px 5px 0; }
          .left-menu-bar .sidebar-expanded .sidebar-content ul li a {
            display: block;
            width: 60px;
            height: 28px;
            line-height: 28px;
            font-size: 12px;
            background-color: #000;
            color: #f5f5f5; }
            .left-menu-bar .sidebar-expanded .sidebar-content ul li a:hover {
              background-color: #E93C1A; }
      .left-menu-bar .sidebar-expanded .sidebar-content .sidebar-footer {
        border-top: 1px solid #000;
        padding-top: 10px;
        text-align: center;
        line-height: 25px;
        font-size: 12px; }
        .left-menu-bar .sidebar-expanded .sidebar-content .sidebar-footer a {
          color: #777;
          margin-right: 10px; }
          .left-menu-bar .sidebar-expanded .sidebar-content .sidebar-footer a:hover {
            color: #fff; }
    .left-menu-bar .sidebar-expanded .sidebar-auth-buttons {
      position: absolute;
      left: 15px;
      bottom: 15px;
      text-align: center;
      width: 86%; }
      .left-menu-bar .sidebar-expanded .sidebar-auth-buttons a {
        padding-left: 15px;
        padding-right: 15px; }
        .left-menu-bar .sidebar-expanded .sidebar-auth-buttons a:first-child {
          margin-right: 30px; }
  .left-menu-bar .sidebar-collapsed {
    display: none;
    text-align: center;
    padding: 10px 5px; }
    .left-menu-bar .sidebar-collapsed .logo img {
      width: 40px;
      border-bottom: 1px solid #f5f5f5;
      padding-bottom: 15px; }
    .left-menu-bar .sidebar-collapsed ul {
      margin-top: 20px; }
      .left-menu-bar .sidebar-collapsed ul li {
        margin-bottom: 20px; }
        .left-menu-bar .sidebar-collapsed ul li a {
          color: #f5f5f5; }
    .left-menu-bar .sidebar-collapsed .sidebar-auth-buttons {
      position: absolute;
      bottom: 15px;
      left: 10px; }
  .left-menu-bar.closed {
    width: 50px; }
    .left-menu-bar.closed .sidebar-expanded {
      display: none; }
    .left-menu-bar.closed .sidebar-collapsed {
      display: block; }
    .left-menu-bar.closed .close-bar-btn {
      left: 50px; }
    .left-menu-bar.closed .icon-right {
      display: block; }
    .left-menu-bar.closed .icon-left {
      display: none; }
    .left-menu-bar.closed.disable-expand .close-bar-btn {
      display: none; }

.content-with-bars {
  position: relative;
  height: 100%;
  overflow: hidden;
  margin-left: 240px;
  margin-right: 340px;
  z-index: 2;
  box-sizing: border-box;
  overflow: hidden; }
  .content-with-bars .middle-content {
    overflow: hidden;
    height: 3000px; }
  .content-with-bars.expanded-left {
    margin-left: 50px; }
  .content-with-bars.expanded-right {
    margin-right: 0; }
  .content-with-bars .header-filter {
    font-size: 12px;
    margin-bottom: 20px;
    padding-bottom: 5px; }
    .content-with-bars .header-filter h3 {
      font-size: 26px;
      margin-top: 10px;
      margin-bottom: 20px; }
    .content-with-bars .header-filter .main-filter {
      border-bottom: 1px solid #848484;
      padding-bottom: 10px;
      margin-bottom: 20px; }
      .content-with-bars .header-filter .main-filter li {
        display: inline-block;
        margin-right: 20px; }
        .content-with-bars .header-filter .main-filter li a {
          font-size: 14px; }
          .content-with-bars .header-filter .main-filter li a.active {
            color: #414141;
            padding-bottom: 7px;
            border-bottom: 2px solid #E93C1A; }
          .content-with-bars .header-filter .main-filter li a:hover {
            padding-bottom: 7px;
            border-bottom: 2px solid #E93C1A; }
    .content-with-bars .header-filter .sub-filter li {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px; }

.right-page-bar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 340px;
  z-index: 3;
  background: #ddd; }
  .right-page-bar .column-content .no-login-contain {
    font-size: 14px;
    padding: 20px; }
    .right-page-bar .column-content .no-login-contain p,
    .right-page-bar .column-content .no-login-contain ul,
    .right-page-bar .column-content .no-login-contain h3 {
      margin-bottom: 20px; }
    .right-page-bar .column-content .no-login-contain h3 {
      font-size: 20px;
      font-weight: bold; }
    .right-page-bar .column-content .no-login-contain p {
      line-height: 18px; }
    .right-page-bar .column-content .no-login-contain ul li {
      display: inline-block;
      padding: 0 10px;
      line-height: 30px;
      background: #fff;
      border-left: 3px solid #E93C1A;
      margin-bottom: 10px;
      list-style-position: inside; }
  .right-page-bar .close-bar-btn {
    width: 15px;
    position: absolute;
    top: 50%;
    right: 340px;
    background-color: #ddd;
    padding: 20px 0;
    border-radius: 30px 0 0 30px; }
    .right-page-bar .close-bar-btn:hover {
      background-color: #E93C1A;
      color: #f5f5f5; }
    .right-page-bar .close-bar-btn i {
      position: relative;
      left: 3px; }
    .right-page-bar .close-bar-btn .icon-left {
      display: none; }
  .right-page-bar.closed {
    width: 0; }
    .right-page-bar.closed .column-content {
      display: none; }
    .right-page-bar.closed .close-bar-btn {
      right: 0; }
      .right-page-bar.closed .close-bar-btn .icon-left {
        display: block; }
      .right-page-bar.closed .close-bar-btn .icon-right {
        display: none; }
    .right-page-bar.closed.disable-expand .close-bar-btn {
      display: none; }
  .right-page-bar .auth-content {
    font-size: 12px;
    padding: 15px 10px; }
    .right-page-bar .auth-content h5 {
      font-size: 20px;
      margin-bottom: 20px; }
    .right-page-bar .auth-content .header {
      padding-top: 15px;
      line-height: 20px;
      margin: 15px 0 10px;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      color: #848484;
      text-transform: uppercase; }
    .right-page-bar .auth-content .content-list {
      margin-bottom: 30px; }
      .right-page-bar .auth-content .content-list li {
        display: block;
        height: 50px;
        overflow: hidden;
        padding: 5px 10px; }
        .right-page-bar .auth-content .content-list li a {
          display: block;
          color: #848484; }
          .right-page-bar .auth-content .content-list li a img {
            width: 40px;
            height: 40px;
            float: left;
            margin-right: 10px; }
          .right-page-bar .auth-content .content-list li a .info {
            float: left; }
            .right-page-bar .auth-content .content-list li a .info .chanel-name {
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              -ms-text-overflow: ellipsis;
              line-height: 22px;
              font-weight: bold; }
            .right-page-bar .auth-content .content-list li a .info .chanel-status {
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              -ms-text-overflow: ellipsis; }
          .right-page-bar .auth-content .content-list li a:hover .chanel-name {
            color: #E93C1A; }
    .right-page-bar .auth-content .recommended-content {
      margin-top: 20px; }

.thumbnail-small {
  position: relative;
  overflow: hidden;
  font-size: 0;
  padding: 0;
  float: left;
  margin-bottom: 10px;
  text-align: left; }
  .thumbnail-small .layer {
    position: absolute;
    display: none;
    transition: display 700ms;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    background: #000; }
  .thumbnail-small img {
    height: 83px;
    width: 148px; }
  .thumbnail-small .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -25px;
    font-size: 30px;
    color: #fff;
    z-index: 2;
    opacity: 0;
    transition: opacity 500ms; }
  .thumbnail-small .thumb-info {
    position: absolute;
    bottom: -12px;
    transition: bottom 300ms;
    left: 0;
    width: 94%;
    z-index: 2; }
    .thumbnail-small .thumb-info .title {
      word-break: keep-all;
      white-space: nowrap;
      overflow: hidden;
      font-size: 12px;
      display: block;
      padding-bottom: 5px;
      padding-left: 10px;
      width: 100%;
      text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
      color: #fff; }
    .thumbnail-small .thumb-info .other_info {
      font-size: 11px;
      padding-left: 10px;
      display: block;
      color: #E93C1A; }
      .thumbnail-small .thumb-info .other_info .author {
        display: block;
        float: left;
        width: 100%;
        word-break: keep-all;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -ms-text-overflow: ellipsis; }
      .thumbnail-small .thumb-info .other_info .viewers {
        display: none;
        position: absolute;
        right: 0;
        bottom: -1px;
        color: #848484; }
  .thumbnail-small:hover .thumb-info {
    bottom: 5px;
    transition: bottom 600ms; }
  .thumbnail-small:hover .layer {
    display: block;
    transition: display 1000ms; }
  .thumbnail-small:hover .play-icon {
    opacity: 1;
    transition: opacity 1000ms; }
  .thumbnail-small:nth-child(1), .thumbnail-small:nth-child(3) {
    margin-right: 5px; }
  .thumbnail-small:nth-child(2), .thumbnail-small:nth-child(4) {
    margin-left: 5px; }
  @media screen and (min-width: 1200px) {
    .thumbnail-small img {
      width: 181px;
      height: 102px; }
    .thumbnail-small .thumb-info .title {
      font-size: 14px; }
    .thumbnail-small .thumb-info .other_info {
      font-size: 13px; }
      .thumbnail-small .thumb-info .other_info .author {
        width: 45%; }
      .thumbnail-small .thumb-info .other_info .viewers {
        display: block;
        font-size: 12px; } }
  @media screen and (min-width: 1500px) {
    .thumbnail-small img {
      width: 226px;
      height: 127px; } }

.thumbnail-big-box {
  padding: 0 5px;
  display: inline-block;
  width: 50%;
  min-width: 160px; }
  .thumbnail-big-box .thumbnail-big {
    position: relative;
    overflow: hidden;
    font-size: 0;
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    float: none;
    display: inline-block;
    margin-right: 0;
    box-sizing: border-box;
    width: 100%; }
    .thumbnail-big-box .thumbnail-big img {
      height: auto !important;
      width: 100% !important; }
    .thumbnail-big-box .thumbnail-big .layer {
      width: 100%;
      height: calc(100% - 37px); }
    .thumbnail-big-box .thumbnail-big .layer {
      position: absolute;
      display: none;
      transition: display 700ms;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      opacity: 0.5;
      background: #000; }
    .thumbnail-big-box .thumbnail-big .play-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -20px;
      margin-top: -50px;
      font-size: 50px;
      color: #fff;
      opacity: 0;
      transition: opacity 500ms;
      z-index: 2; }
    .thumbnail-big-box .thumbnail-big .thumb-info {
      position: absolute;
      bottom: 37px;
      left: 0;
      width: 100%;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.6); }
      .thumbnail-big-box .thumbnail-big .thumb-info .title {
        word-break: keep-all;
        white-space: nowrap;
        overflow: hidden;
        font-size: 12px;
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        width: 100%;
        text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
        color: #fff; }
    .thumbnail-big-box .thumbnail-big .other_info {
      font-size: 11px;
      padding: 10px;
      display: block;
      margin-top: 5px; }
      .thumbnail-big-box .thumbnail-big .other_info .author {
        display: block;
        float: left;
        width: 60%;
        word-break: keep-all;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -ms-text-overflow: ellipsis; }
      .thumbnail-big-box .thumbnail-big .other_info .viewers {
        display: block;
        position: absolute;
        right: 10px;
        font-size: 11px;
        color: #848484; }
    .thumbnail-big-box .thumbnail-big:hover .layer {
      display: block;
      transition: display 1000ms; }
    .thumbnail-big-box .thumbnail-big:hover .play-icon {
      opacity: 1;
      transition: opacity 1000ms; }
    @media screen and (min-width: 1200px) {
      .thumbnail-big-box .thumbnail-big .thumb-info .title {
        font-size: 14px; }
      .thumbnail-big-box .thumbnail-big .other_info {
        font-size: 13px; }
        .thumbnail-big-box .thumbnail-big .other_info .viewers {
          font-size: 12px; } }
    @media screen and (min-width: 1500px) {
      .thumbnail-big-box .thumbnail-big .thumb-info .title {
        font-size: 14px; }
      .thumbnail-big-box .thumbnail-big .other_info {
        font-size: 13px; }
        .thumbnail-big-box .thumbnail-big .other_info .viewers {
          font-size: 12px; } }

.thumbnail-category-box {
  display: inline-block;
  width: 100%;
  min-width: 100px;
  padding: 0 5px;
  margin-bottom: 10px; }
  .thumbnail-category-box .thumbnail-category {
    color: #414141;
    font-size: 0;
    display: block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }
    .thumbnail-category-box .thumbnail-category img {
      width: 100%; }
    .thumbnail-category-box .thumbnail-category .info,
    .thumbnail-category-box .thumbnail-category .category-name,
    .thumbnail-category-box .thumbnail-category .viewers {
      width: 100%;
      display: block;
      word-break: keep-all;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -ms-text-overflow: ellipsis; }
    .thumbnail-category-box .thumbnail-category .info {
      line-height: 1.8;
      font-size: 10px;
      padding: 0 5px; }
    .thumbnail-category-box .thumbnail-category .category-name {
      font-size: 14px; }
    .thumbnail-category-box .thumbnail-category:hover .info {
      color: #E93C1A; }

.video-content .video-box {
  position: relative; }
  .video-content .video-box .live-video {
    height: 100%;
    width: 100%; }
  .video-content .video-box .video-controls {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 10px 30px;
    opacity: 0;
    transition: opacity 500ms; }
    .video-content .video-box .video-controls a {
      display: inline-block;
      font-size: 18px;
      color: #f5f5f5; }
      .video-content .video-box .video-controls a.control-playing {
        width: 17px; }
        .video-content .video-box .video-controls a.control-playing .fa-pause {
          display: none; }
      .video-content .video-box .video-controls a.control-volume {
        margin-left: 15px; }
        .video-content .video-box .video-controls a.control-volume .video-volume-down-icon {
          display: none; }
        .video-content .video-box .video-controls a.control-volume i {
          width: 17px; }
      .video-content .video-box .video-controls a.control-full-screen {
        float: right;
        position: relative;
        top: 0; }
        .video-content .video-box .video-controls a.control-full-screen .video-compress-icon {
          display: none; }
    .video-content .video-box .video-controls .volume-slider {
      display: inline-block;
      width: 110px;
      height: 3px;
      margin: 0 15px;
      position: relative;
      top: -4px;
      cursor: pointer;
      border-radius: 0;
      background-color: #E93C1A;
      border: none; }
      .video-content .video-box .video-controls .volume-slider .ui-slider-handle {
        margin-left: -2px;
        width: 5px;
        height: 15px;
        border-radius: 0;
        top: -6px;
        cursor: pointer;
        border: none;
        background-color: #f5f5f5;
        outline: none; }
      .video-content .video-box .video-controls .volume-slider .ui-slider-range {
        background-color: #E93C1A; }
      .video-content .video-box .video-controls .volume-slider .ui-state-active,
      .video-content .video-box .video-controls .volume-slider .ui-state-hover,
      .video-content .video-box .video-controls .volume-slider .ui-state-focus {
        background: #f5f5f5; }
  .video-content .video-box .player-mini-controls {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -50px;
    font-size: 40px; }
    .video-content .video-box .player-mini-controls a {
      margin-right: 20px;
      color: #f5f5f5; }
      .video-content .video-box .player-mini-controls a .fa-pause {
        display: none; }
  .video-content .video-box.scrolled:hover .player-mini-controls {
    display: block; }
  .video-content .video-box.full-screen {
    width: 100% !important; }
    .video-content .video-box.full-screen .video-controls .video-expand-icon {
      display: none !important; }
    .video-content .video-box.full-screen .video-controls .video-compress-icon {
      display: inline-block !important; }
  .video-content .video-box:hover .video-controls {
    opacity: 1;
    transition: opacity 1000ms; }

@media screen and (max-width: 360px) {
  .video-content {
    width: 100% !important; } }

@media screen and (min-width: 361px) and (max-width: 992px) {
  .video-content {
    width: 100% !important; } }

:-webkit-full-screen {
  background-color: #000; }

/********************************** pages **************************/
#mainPage .video-player-container {
  padding: 0;
  margin-bottom: 15px;
  background: url(../img/trash/bg.jpg) transparent no-repeat;
  background-size: cover; }
  #mainPage .video-player-container .box-container {
    border-top: none;
    border-bottom: none;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-color: transparent; }
    #mainPage .video-player-container .box-container .row {
      margin: 0; }
    #mainPage .video-player-container .box-container .video-content {
      padding-left: 0;
      font-size: 0;
      width: 790px;
      padding-right: 10px;
      float: left; }
      #mainPage .video-player-container .box-container .video-content video {
        height: 100%;
        width: 100%; }
      @media screen and (max-width: 992px) {
        #mainPage .video-player-container .box-container .video-content {
          float: none;
          padding: 0; } }
    #mainPage .video-player-container .box-container .chanel-list {
      width: 180px;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 5px;
      float: left; }
      #mainPage .video-player-container .box-container .chanel-list a {
        display: block;
        position: relative;
        font-size: 0;
        margin-bottom: 5px;
        box-sizing: content-box;
        border: 2px solid transparent;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        transition: filter 500ms; }
        #mainPage .video-player-container .box-container .chanel-list a img {
          width: 100%;
          height: 100%; }
        #mainPage .video-player-container .box-container .chanel-list a:last-child {
          margin: 0; }
        #mainPage .video-player-container .box-container .chanel-list a:hover, #mainPage .video-player-container .box-container .chanel-list a.active {
          -webkit-filter: grayscale(0);
          filter: grayscale(0);
          transition: filter 500ms; }
        #mainPage .video-player-container .box-container .chanel-list a.active {
          border: 2px solid #E93C1A; }
          #mainPage .video-player-container .box-container .chanel-list a.active .arrow-icon {
            position: absolute;
            width: 0;
            height: 0; }
            @media screen and (min-width: 992px) {
              #mainPage .video-player-container .box-container .chanel-list a.active .arrow-icon {
                top: 50%;
                margin-top: -7px;
                left: -7px;
                border-top: 7px solid transparent;
                border-bottom: 7px solid transparent;
                border-right: 7px solid #E93C1A; } }
            @media screen and (max-width: 992px) {
              #mainPage .video-player-container .box-container .chanel-list a.active .arrow-icon {
                top: -7px;
                left: 50%;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 7px solid #E93C1A; } }
      @media screen and (max-width: 360px) {
        #mainPage .video-player-container .box-container .chanel-list {
          width: 100% !important; } }
      @media screen and (max-width: 600px) {
        #mainPage .video-player-container .box-container .chanel-list {
          display: none; } }
      @media screen and (min-width: 361px) and (max-width: 992px) {
        #mainPage .video-player-container .box-container .chanel-list {
          float: none;
          text-align: center;
          width: 100%;
          padding: 5px 0 5px;
          margin-right: -2px; }
          #mainPage .video-player-container .box-container .chanel-list a {
            display: inline-block;
            width: 18.66%; } }

#mainPage .live-recommender-container {
  padding-right: 5px;
  padding-bottom: 5px; }
  @media screen and (max-width: 360px) {
    #mainPage .live-recommender-container {
      padding-right: 3px;
      padding-left: 3px; } }
  @media screen and (min-width: 360px) and (max-width: 992px) {
    #mainPage .live-recommender-container {
      padding-left: 5px; } }
  #mainPage .live-recommender-container .recommend-block {
    width: 33.33%;
    padding: 0;
    float: left; }
    @media screen and (min-width: 360px) and (max-width: 992px) {
      #mainPage .live-recommender-container .recommend-block {
        text-align: center; }
        #mainPage .live-recommender-container .recommend-block h5 {
          padding-left: 5px;
          text-align: left; } }
    @media screen and (max-width: 360px) {
      #mainPage .live-recommender-container .recommend-block {
        float: none;
        margin: 0 auto 10px;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px; }
        #mainPage .live-recommender-container .recommend-block a {
          margin: 0 auto 10px;
          width: 100%;
          float: none;
          display: inline-block; }
          #mainPage .live-recommender-container .recommend-block a img {
            height: auto;
            width: 100%; } }
    @media screen and (min-width: 361px) and (max-width: 992px) {
      #mainPage .live-recommender-container .recommend-block {
        float: none;
        margin: 0 auto;
        width: 100%; }
        #mainPage .live-recommender-container .recommend-block a {
          width: 48.5%;
          float: none;
          display: inline-block;
          margin-right: 5px;
          margin-left: 0; }
          #mainPage .live-recommender-container .recommend-block a img {
            height: auto;
            width: 100%; }
          #mainPage .live-recommender-container .recommend-block a:nth-child(2n+0) {
            margin-right: 0; } }
  #mainPage .live-recommender-container h5 {
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 15px; }

#mainPage .other-recommender-container {
  padding-bottom: 5px; }
  @media screen and (max-width: 360px) {
    #mainPage .other-recommender-container {
      padding-right: 3px;
      padding-left: 3px; } }
  #mainPage .other-recommender-container h5 {
    padding-bottom: 10px;
    font-size: 15px; }
    #mainPage .other-recommender-container h5 a {
      float: right;
      font-size: 12px; }
  #mainPage .other-recommender-container .other-recommender-content {
    margin-left: -5px;
    margin-right: -5px; }
    #mainPage .other-recommender-container .other-recommender-content .thumbnail-big-box {
      width: 33%; }
    @media screen and (max-width: 360px) {
      #mainPage .other-recommender-container .other-recommender-content .thumbnail-big-box {
        width: 100%; } }
    @media screen and (min-width: 360px) and (max-width: 992px) {
      #mainPage .other-recommender-container .other-recommender-content .thumbnail-big-box {
        width: 50%; } }
    @media screen and (min-width: 1200px) {
      #mainPage .other-recommender-container .other-recommender-content .thumbnail-big-box {
        width: 25%; } }
    @media screen and (min-width: 1500px) {
      #mainPage .other-recommender-container .other-recommender-content .thumbnail-big-box {
        width: 20%; } }

@media screen and (min-width: 1200px) {
  #mainPage .video-player-container .box-container .video-content {
    width: 952px; }
  #mainPage .video-player-container .box-container .chanel-list {
    width: 218px; } }

@media screen and (min-width: 1500px) {
  #mainPage .video-player-container .box-container .video-content {
    width: 1170px; }
  #mainPage .video-player-container .box-container .chanel-list {
    width: 270px; } }

#userPage .content-with-bars .box-container {
  margin: 0 20px 15px;
  padding-bottom: 0; }

#userPage .content-with-bars .chat-header {
  height: 110px;
  position: relative; }
  #userPage .content-with-bars .chat-header.box-container {
    margin: 0 0 15px;
    padding: 0 20px; }
  #userPage .content-with-bars .chat-header img {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 15px;
    left: 20px;
    border: 2px solid #E93C1A; }
  #userPage .content-with-bars .chat-header h1 {
    padding: 15px 15px 0 90px;
    font-size: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap; }
  #userPage .content-with-bars .chat-header .header-info {
    position: absolute;
    left: 110px;
    bottom: 55px;
    font-size: 12px; }
    @media screen and (max-width: 400px) {
      #userPage .content-with-bars .chat-header .header-info {
        font-size: 10px; } }
    #userPage .content-with-bars .chat-header .header-info .header-hostname,
    #userPage .content-with-bars .chat-header .header-info .header-chanelname {
      margin-right: 10px; }
  #userPage .content-with-bars .chat-header .subscribe-content {
    position: absolute;
    bottom: 15px;
    left: 110px; }
    #userPage .content-with-bars .chat-header .subscribe-content .header-subscribe-btn i {
      font-size: 14px;
      position: relative;
      top: 1px; }
    #userPage .content-with-bars .chat-header .subscribe-content .subscription-number {
      font-size: 12px;
      line-height: 1.5;
      border: 1px solid #f5f5f5;
      border-left: none;
      padding: 5px 5px 5px;
      position: relative;
      top: 5px; }
      @media screen and (max-width: 400px) {
        #userPage .content-with-bars .chat-header .subscribe-content .subscription-number {
          display: none; } }

#userPage .content-with-bars .video-content .video-box.scrolled {
  position: fixed;
  bottom: 40px;
  width: 260px;
  border: 10px solid #fff;
  background-color: #fff; }
  #userPage .content-with-bars .video-content .video-box.scrolled video {
    border: 1px solid #E93C1A; }
  #userPage .content-with-bars .video-content .video-box.scrolled .video-controls {
    display: none; }

#userPage .content-with-bars .video-content .other-controls {
  text-align: left;
  padding: 10px 0;
  font-size: 13px; }
  #userPage .content-with-bars .video-content .other-controls .viewers-content {
    line-height: 34px; }
    @media screen and (min-width: 550px) {
      #userPage .content-with-bars .video-content .other-controls .viewers-content {
        float: left; } }
    #userPage .content-with-bars .video-content .other-controls .viewers-content .viewers {
      color: #E93C1A;
      margin-right: 5px; }
    #userPage .content-with-bars .video-content .other-controls .viewers-content span {
      cursor: default; }
  @media screen and (min-width: 550px) {
    #userPage .content-with-bars .video-content .other-controls .buttons-content {
      float: right; } }

#userPage .right-page-bar .chat-header {
  height: 40px;
  line-height: 22px;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #EFEFEF;
  font-size: 14px; }

#userPage .right-page-bar .chat-container {
  position: absolute;
  left: 15px;
  right: 15px;
  top: 40px;
  bottom: 120px;
  padding-top: 15px;
  overflow: hidden; }
  #userPage .right-page-bar .chat-container ul li {
    font-size: 12px;
    line-height: 20px;
    padding: 6px 20px;
    word-wrap: break-word;
    list-style-position: unset; }
    #userPage .right-page-bar .chat-container ul li .info {
      font-weight: bold; }
      #userPage .right-page-bar .chat-container ul li .info.color-1 {
        color: #414141; }
      #userPage .right-page-bar .chat-container ul li .info.color-2 {
        color: #7fcbf3; }
      #userPage .right-page-bar .chat-container ul li .info.color-3 {
        color: #e368d7; }
      #userPage .right-page-bar .chat-container ul li .info.color-4 {
        color: #ea4e2c; }

#userPage .right-page-bar .chat-interface {
  position: absolute;
  bottom: 15px;
  left: 20px;
  right: 20px; }
  #userPage .right-page-bar .chat-interface textarea {
    width: 100%;
    resize: none;
    font-size: 12px;
    height: 50px;
    padding: 10px 5px; }
    #userPage .right-page-bar .chat-interface textarea:focus {
      outline: 0;
      box-shadow: 0 0 3px #1E1E21;
      border: 1px solid #cbc8d0; }
  #userPage .right-page-bar .chat-interface .chat-buttons {
    height: 40px; }
    #userPage .right-page-bar .chat-interface .chat-buttons .setting-btn {
      display: inline-block;
      font-size: 18px;
      position: relative;
      top: 5px; }
    #userPage .right-page-bar .chat-interface .chat-buttons .chat-send-btn {
      float: right; }
  #userPage .right-page-bar .chat-interface .chat-settings {
    display: none;
    position: absolute;
    bottom: 32px;
    left: 8px;
    background-color: #EFEFEF;
    width: 200px;
    padding: 20px 15px;
    box-shadow: 0 0 3px #1E1E21;
    font-size: 15px; }
    #userPage .right-page-bar .chat-interface .chat-settings .settings-content {
      text-align: left;
      margin-top: 5px; }
      #userPage .right-page-bar .chat-interface .chat-settings .settings-content a {
        display: inline-block;
        width: 20px;
        height: 20px;
        font-size: 0;
        line-height: 32px;
        text-align: center; }
        #userPage .right-page-bar .chat-interface .chat-settings .settings-content a i {
          font-size: 16px;
          opacity: 0; }
        #userPage .right-page-bar .chat-interface .chat-settings .settings-content a.selected i {
          opacity: 1; }
        #userPage .right-page-bar .chat-interface .chat-settings .settings-content a.color-1 {
          background-color: #414141; }
        #userPage .right-page-bar .chat-interface .chat-settings .settings-content a.color-2 {
          background-color: #7fcbf3; }
        #userPage .right-page-bar .chat-interface .chat-settings .settings-content a.color-3 {
          background-color: #e368d7; }
        #userPage .right-page-bar .chat-interface .chat-settings .settings-content a.color-4 {
          background-color: #ea4e2c; }

#listPage .result-container {
  padding: 15px 15px 15px 15px;
  font-size: 0; }
  #listPage .result-container .thumbnail-big-box {
    width: 50%; }
  @media screen and (max-width: 510px) {
    #listPage .result-container .thumbnail-big-box {
      width: 100%; } }
  @media screen and (min-width: 1200px) {
    #listPage .result-container .thumbnail-big-box {
      width: 33.33%; } }
  @media screen and (min-width: 1500px) {
    #listPage .result-container .thumbnail-big-box {
      width: 25%; } }

#categoryPage .result-container-content {
  margin: 0 -5px; }

@media screen and (max-width: 360px) {
  #categoryPage .thumbnail-category-box {
    width: 100%; } }

@media screen and (min-width: 360px) and (max-width: 510px) {
  #categoryPage .thumbnail-category-box {
    width: 50%; } }

@media screen and (min-width: 510px) {
  #categoryPage .thumbnail-category-box {
    width: 33.33%; } }

@media screen and (min-width: 1200px) {
  #categoryPage .thumbnail-category-box {
    width: 25%; } }

@media screen and (min-width: 1500px) {
  #categoryPage .thumbnail-category-box {
    width: 20%; } }
