#userPage {   
    .content-with-bars {
        .box-container {
            margin: 0 20px 15px;
            padding-bottom: 0;
        }

        .chat-header {
            height: 110px;
            position: relative;

            &.box-container {
                margin: 0 0 15px;
                padding: 0 20px;
            }
            
            img {
                width: 80px;
                height: 80px;
                position: absolute;
                top: 15px;
                left: 20px;
                border: 2px solid $defaultLinkColor;
            }

            h1 {
                //padding: 25px 15px 0 90px;
                padding: 15px 15px 0 90px;
                font-size: 22px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .header-info {
                position: absolute;
                left: 110px;
                //bottom: 25px;
                bottom: 55px;
                font-size: 12px;

                @media screen and (max-width: 400px) {
                    font-size: 10px;
                }

                .header-hostname,
                .header-chanelname {
                    margin-right: 10px;
                }
            }

            .subscribe-content {
                position: absolute;
                //right: 20px;
                //bottom: 17px;
                bottom: 15px;
                left: 110px;

                .header-subscribe-btn {
                    i {
                        font-size: 14px;
                        position: relative;
                        top: 1px;
                    }
                }

                .subscription-number {
                    font-size: 12px;
                    line-height: 1.5;
                    border: 1px solid $headerLinkColor;
                    border-left: none;
                    padding: 5px 5px 5px;
                    //margin-left: -5px;
                    position: relative;
                    top: 5px;

                    @media screen and (max-width: 400px) {
                        display: none;
                    }
                }
            }                
        }     

        .video-content {
            .video-box {
                &.scrolled {
                    position: fixed;
                    bottom: 40px;
                    width: 260px;
                    border: 10px solid $boxContainerBgColor;
                    background-color: $boxContainerBgColor;

                    video {
                        border: 1px solid $defaultLinkColor;
                    }

                    .video-controls {
                        display: none;
                    }
                }
            }

            .other-controls {
                text-align: left;
                padding: 10px 0;
                font-size: 13px;

                .viewers-content {
                    @media screen and (min-width: 550px) {
                        float: left;
                    }
                    line-height: 34px;

                    .viewers {
                        color: $defaultLinkColor;
                        margin-right: 5px;
                    }

                    span {
                        cursor: default;
                    }
                }

                .buttons-content {
                    @media screen and (min-width: 550px) {
                        float: right;
                    }
                }
            }
        }
    }    

    // chat bar
    .right-page-bar {
        .chat-header {
            height: 40px;
            line-height: 22px;
            padding: 10px;
            text-align: center;
            border-bottom: 1px solid $defaultBgColor;
            font-size: 14px;
        }

        .chat-container {
            position: absolute;
            left: 15px;
            right: 15px;
            top: 40px;
            bottom: 120px;
            padding-top: 15px;
            overflow: hidden;

            ul {
                li {
                    font-size: 12px;
                    line-height: 20px;
                    padding: 6px 20px;
                    word-wrap: break-word;
                    list-style-position: unset;

                    .info {
                        font-weight: bold;

                        &.color-1 {
                            color: $defaultFontColor;
                        }

                        &.color-2 {
                            color: #7fcbf3;
                        }

                        &.color-3 {
                            color: #e368d7;
                        }

                        &.color-4 {
                            color: #ea4e2c;
                        }
                    }
                }
            }
        }

        .chat-interface {
            position: absolute;
            bottom: 15px;
            left: 20px;
            right: 20px;

            textarea {
                width: 100%;
                resize: none;
                font-size: 12px;
                height: 50px;
                padding: 10px 5px;

                &:focus {
                    outline: 0;
                    box-shadow: 0 0 3px $headerBgColor;
                    border: 1px solid #cbc8d0;
                }
            }

            .chat-buttons {
                height: 40px;

                .setting-btn {
                    display: inline-block;
                    font-size: 18px;
                    position: relative;
                    top: 5px;
                }

                .chat-send-btn {
                    float: right;
                }
            }

            .chat-settings {
                display: none;
                position: absolute;
                bottom: 32px;
                left: 8px;
                background-color: $defaultBgColor;
                width: 200px;
                padding: 20px 15px;
                box-shadow: 0 0 3px $headerBgColor;
                font-size: 15px;

                .settings-content {
                    text-align: left;
                    margin-top: 5px;

                    a {
                        display: inline-block;
                        width: 20px;
                        height: 20px;     
                        font-size: 0;
                        line-height: 32px;
                        text-align: center;

                        i {
                            font-size: 16px;
                            opacity: 0;
                        }                 

                        &.selected {
                            i {
                                opacity: 1;
                            }
                        }  

                        &.color-1 {
                            background-color: $defaultFontColor;
                        }

                        &.color-2 {
                            background-color: #7fcbf3;
                        }

                        &.color-3 {
                            background-color: #e368d7;
                        }

                        &.color-4 {
                            background-color: #ea4e2c;
                        }
                    }
                }
            }
        }
    }
}