#listPage {
    .header-filter {
        font-size: 12px;

        h3 {
            font-size: 26px;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .main-filter {
            border-bottom: 1px solid $footerFontColor;
            padding-bottom: 10px;
            margin-bottom: 20px;

            li {
                display: inline-block;
                margin-right: 20px;

                a {
                    font-size: 14px;
                    
                    &.active {
                        color: $defaultFontColor;
                        padding-bottom: 7px;
                        border-bottom: 2px solid $defaultLinkColor;
                    }

                    &:hover {
                        padding-bottom: 7px;
                        border-bottom: 2px solid $defaultLinkColor;
                    }
                }
            }
        }

        .sub-filter {
            li {
                display: inline-block;
                margin-right: 10px;
            }
        }
    }

    .result-container {
        padding: 15px 15px 15px 15px;
        font-size: 0;

        .thumbnail-big-box {
            width: 50%;
        }
        
        @media screen and (max-width: 510px) {
            .thumbnail-big-box {
                width: 100%;
            }
        }

        @media screen and (min-width: $page-extra-large-query-width) {
            .thumbnail-big-box {
                width: 33.33%;
            }
        }

        @media screen and (min-width: $page-huge-query-width) {
            .thumbnail-big-box {
                width: 25%;
            }
        }
    }
}