#mainPage {
    .video-player-container {
        padding: 0;
        margin-bottom: 15px;
        background: url(../img/trash/bg.jpg) transparent no-repeat;
        background-size: cover;
        
        .box-container {  
            border-top: none;
            border-bottom: none;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
            background-color: transparent;
            
            .row {
                margin: 0;
            }

            .video-content {   
                padding-left: 0;
                font-size: 0;
                width: 790px;
                padding-right: 10px;
                float: left;
                
                video {
                    height: 100%;
                    width: 100%;
                }

                @media screen and (max-width: $page-large-query-width) {
                    float: none;
                    padding: 0;
                }
            }

            .chanel-list {
                width: 180px;
                background-color: $thumbnailBigTitleBgColor;
                padding: 5px;
                float: left;
                
                a {
                    display: block;
                    position: relative;
                    font-size: 0;
                    margin-bottom: 5px;
                    box-sizing: content-box;  
                    border: 2px solid transparent;
                    -webkit-filter: grayscale(1);
                    filter: grayscale(1);
                    transition: filter 500ms;
                    
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    
                    &:last-child {
                        margin: 0;
                    }
                    
                    &:hover,
                    &.active {
                        -webkit-filter: grayscale(0);
                        filter: grayscale(0);
                        transition: filter 500ms;                             
                    }
                    
                    &.active {
                        border: 2px solid $primaryButtonBgColor;
                        
                        .arrow-icon {
                            position: absolute;
                            width: 0; 
                            height: 0;

                            @media screen and (min-width: $page-large-query-width) {                                
                                top: 50%;
                                margin-top: -7px;
                                left: -7px;
                                border-top: 7px solid transparent;
                                border-bottom: 7px solid transparent; 
                                border-right:7px solid $primaryButtonBgColor; 
                            }
                                
                            @media screen and (max-width: $page-large-query-width) {  
                                top: -7px;
                                left: 50%;                               
                                border-left: 7px solid transparent;
                                border-right: 7px solid transparent;                                
                                border-bottom: 7px solid $primaryButtonBgColor;
                            }
                        }
                    }
                }

                @media screen and (max-width: 360px) {
                    width: 100%!important;
                }

                @media screen and (max-width: 600px) {
                    display: none;
                }

                @media screen and (min-width: 361px) and (max-width: $page-large-query-width) {
                    float: none;
                    text-align: center;
                    width: 100%;
                    padding: 5px 0 5px;
                    margin-right: -2px;

                    a {
                        display: inline-block;
                        width: 18.66%;
                    }
                }
            }
        }         
    }
    
    .live-recommender-container {   
        padding-right: 5px;
        padding-bottom: 5px;

        @media screen and (max-width: 360px) {
            padding-right: 3px;
            padding-left: 3px;
        }

        @media screen and (min-width: 360px) and (max-width: $page-large-query-width) {
            padding-left: 5px;
        }
        
        .recommend-block {
            width: 33.33%;
            padding: 0;
            float: left;
            
            @media screen and (min-width: 360px) and (max-width: $page-large-query-width) {
                text-align: center;

                h5 {
                    padding-left: 5px;
                    text-align: left;
                }
            }

            @media screen and (max-width: 360px) {
                float: none;
                margin: 0 auto 10px;
                width: 100%;
                padding-left: 0px;
                padding-right: 0px;

                a {
                    margin: 0 auto 10px;
                    width: 100%;
                    float: none;
                    display: inline-block;                    

                    img {
                        height: auto;
                        width: 100%;
                    }
                }
            }

            @media screen and (min-width: 361px) and (max-width: $page-large-query-width) {
                float: none;
                margin: 0 auto;
                width: 100%;

                a {
                    width: 48.5%;
                    float: none;
                    display: inline-block;
                    margin-right: 5px;
                    margin-left: 0;

                    img {
                        height: auto;
                        width: 100%;
                    }

                    &:nth-child(2n+0) {
                        margin-right: 0;
                    }
                }
            }
        }
        
        h5 {
            padding-bottom: 5px;
            margin-bottom: 5px;
            font-size: 15px;
        }       
    }
    
    .other-recommender-container {
         padding-bottom: 5px;

         @media screen and (max-width: 360px) {
            padding-right: 3px;
            padding-left: 3px;
        }
        
        h5 {
            padding-bottom: 10px;
            font-size: 15px;
            
            a {
                float: right;
                font-size: 12px;     
            }
        }    

        .other-recommender-content {
            margin-left: -5px;
            margin-right: -5px;

            .thumbnail-big-box {
                width: 33%;
            }

            @media screen and (max-width: 360px) {
                .thumbnail-big-box {
                    width: 100%;
                }
            }

            @media screen and (min-width: 360px) and (max-width: $page-large-query-width) {
                .thumbnail-big-box {
                    width: 50%;
                }
            }

            @media screen and (min-width: $page-extra-large-query-width) {
                .thumbnail-big-box {
                    width: 25%;
                }
            }

            @media screen and (min-width: $page-huge-query-width) {
                .thumbnail-big-box {
                    width: 20%;
                }
            }
        }
    }

    @media screen and (min-width: $page-extra-large-query-width) {
        .video-player-container {
            .box-container {
                .video-content {
                    width: 952px;
                }

                .chanel-list {
                    width: 218px;
                }
            }
        }
    }

    @media screen and (min-width: $page-huge-query-width) {
        .video-player-container {
            .box-container {
                .video-content {
                    width: 1170px;
                }

                .chanel-list {
                    width: 270px;
                }
            }
        }
    }

}

