@import "../block/_thumbnail_small.scss";
@import "../block/_thumbnail_big.scss";
@import "../block/_video_player.scss";

#mainPage {
    .video-player-container {
        padding: 0;
        margin-bottom: 15px;
        background: url(../img/trash/bg.jpg) transparent no-repeat;
        background-size: cover;
        
        .box-container {  
            border-top: none;
            border-bottom: none;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
            background-color: transparent;
            
            .row {
                margin: 0;
            }

            .video-content {   
                padding-left: 0;
                font-size: 0;
                width: 790px;
                padding-right: 10px;
                float: left;
                
                video {
                    height: 100%;
                    width: 100%;
                }
            }

            .chanel-list {
                width: 180px;
                background-color: $thumbnailBigTitleBgColor;
                padding: 5px;
                float: left;
                
                a {
                    display: block;
                    position: relative;
                    font-size: 0;
                    margin-bottom: 5px;
                    box-sizing: content-box;  
                    border: 2px solid transparent;
                    -webkit-filter: grayscale(1);
                    filter: grayscale(1);
                    transition: filter 500ms;
                    
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    
                    &:last-child {
                        margin: 0;
                    }
                    
                    &:hover,
                    &.active {
                        -webkit-filter: grayscale(0);
                        filter: grayscale(0);
                        transition: filter 500ms;                             
                    }
                    
                    &.active {
                        border: 2px solid $primaryButtonBgColor;
                        
                        .arrow-left {
                            position: absolute;
                            top: 50%;
                            margin-top: -7px;
                            left: -7px;
                            width: 0; 
                            height: 0; 
                            border-top: 7px solid transparent;
                            border-bottom: 7px solid transparent; 

                            border-right:7px solid $primaryButtonBgColor; 
                        }
                    }
                }
            }
        }         
    }
    
    .live-recommender-container {   
        padding-right: 5px;
        padding-bottom: 5px;
        
        .recommend-block {
            width: 306px;
            padding: 0;
            margin-right: 10px;
            float: left;
        }
        
        h5 {
            padding-bottom: 5px;
            margin-bottom: 5px;
        }       
    }
    
    .other-recommender-container {
        padding-right: 5px;
        padding-bottom: 5px;
        
        h5 {
            padding-bottom: 10px;
            
            a {
                float: right;
                font-size: 12px;
                margin-right: 10px;
            }
        }    
    }
    
    @media screen and (min-width: $page-extra-large-query-width) {
        .video-player-container {
            .box-container {
                .video-content {
                    width: 952px;
                }

                .chanel-list {
                    width: 218px;
                }
            }
        }

        .live-recommender-container {   
            .recommend-block {
                width: 373px;
            }  
        }
    }
    @media screen and (min-width: $page-huge-query-width) {
        .video-player-container {
            .box-container {
                .video-content {
                    width: 1170px;
                }

                .chanel-list {
                    width: 270px;
                }
            }
        }

        .live-recommender-container {   
            .recommend-block {
                width: 463px;
            }  
        }
    }    
}

