/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** enf of the reset css **/


/**************************** configs ********************************/
@import "config/_config.scss";
/****************************** skin ********************************/
@import "skin/_skin.scss";

/**************************** default config *************************/
.clear {
    font-size: 0;
    line-height: 0;
    clear: both;
    float: none;
    height: 0;
    width: 0;
    display: block;
}

body {
    font-family: "Microsoft Yahei", 微软雅黑, "Helvetica Neue", adobe雅黑, "helvetica neue", tahoma, "hiragino sans gb", stheiti, "wenquanyi micro hei", 宋体, sans-serif;
    background-color: $defaultBgColor;
    color: $defaultFontColor;
    font-size: 0;
    min-width: 320px;
    height: 100%;
    overflow-x: hidden;
}

footer {
    margin-top: 15px;
    padding: 30px 0;
    background-color: $footerBgColor;
    color: $footerFontColor;
    
    .container {
        text-align: center;
         
        p {
            margin: 5px 0;
        }
        
        p, a {
            font-size: 12px;
            line-height: 22px;
        }
        
        a {
            color: $footerLinkColor;
        }
    }
}

a {
    color: $defaultLinkColor;
    
    &:visited {
        text-decoration: none;
        color: $defaultLinkColor;
    }
}

a:hover,
a:active,
a:focus,
a:active:focus {
    text-decoration: none;
    outline: none!important;
    border: none;
    color: $defaultLinkDarkColor;
}

.fa {
    font-size: 14px;
}

.btn,
.form-control,
.input-group-addon,
.modal .modal-content,
.navbar {
    border-radius: 0;
}

.btn {
    border: none;
    color: $defaultBtnColor;

    &:visited {
        color: $defaultBtnColor;
    }

    &:hover,
    &:active,    
    &:focus,
    &:active:focus {
        color: $defaultBtnColor;
    }
}

.btn-primary {
    background-color: $primaryButtonBgColor;
    background-image: none;        
    
    &:visited {
        background-color: $primaryButtonBgColor;
        background-image: none; 
    }

    &:hover,
    &:active,    
    &:focus,
    &:active:focus {
        background-color: $primaryButtonActiveBgColor;
        outline: none!important;
    }
}

.btn-reverse {
    border: 1px solid $reverseBtnBorderColor;
    color: $reverseBtnFontColor;

    &:visited {
        border: 1px solid $reverseBtnBorderColor;
        color: $reverseBtnFontColor;
    }

    &:hover,
    &:active,
    &:focus,
    &:active:focus {
        background-color: $reverseBtnActiveBgColor;
        outline: none!important;
        border: 1px solid $reverseBtnActiveBolderColor;
        color: $reverseBtnActiveFontColor;
    }
}

.container {
    min-width: $page-small-mobile-width;
    
    @media screen and (min-width: $page-huge-query-width) {
        width: $page-huge-width;
    }
}

.box-container {
    padding: 15px;
    margin-bottom: 15px;
    background-color: $boxContainerBgColor;
}

.result-container {
    margin-left: 20px;
    margin-right: 20px;
    min-width: 120px;
}

.ie9-ellipsis-fix {
    display: inline-block;
    width: 0;
    height: 0;
}
/******************************** default config end ****************/

/********************************** blocks **************************/
@import "block/_header.scss";
@import "block/_modal.scss";
@import "block/_grid_with_bars.scss";
@import "block/_thumbnail_small.scss";
@import "block/_thumbnail_big.scss";
@import "block/_thumbnail_category.scss";
@import "block/_video_player.scss";
@import "block/_user_editor.scss";

/********************************** pages **************************/
@import "page/_main.scss";
@import "page/_chat.scss";
@import "page/_list.scss";
@import "page/_category.scss";