.left-menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    z-index: 3;
    background-color: $headerBgColor;
    //overflow: hidden;

    .close-bar-btn {
        width: 15px;
        position: absolute;
        top: 50%;
        left: 240px;
        background-color: $headerBgColor;
        padding: 10px 0;

        .icon-right {
            display: none;
        }
    }

    // content
    .sidebar-expanded {
        text-align: center;
        padding: 15px;

        .sidebar-header {
            margin-bottom: 15px;

            .search-form {
                input[type="text"] {
                    width: 100%;
                }
            }

            ul {
                margin: 25px 0;
                text-align: left;

                li {
                    display: block;
                    margin-bottom: 15px;
                    font-size: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    a {
                        color: $headerLinkSecondColor;

                        i {
                            font-size: 20px;
                            width: 22px;
                            margin-right: 20px;
                            position: relative;
                            top: 2px;
                        }
                    }
                }
            }
        }

        .sidebar-content {
            position: absolute;
            left: 15px;
            right: 10px;
            top: 225px;
            bottom: 90px;

            h4 {
                text-align: left;
                margin-bottom: 10px;
                color: $headerLinkSecondColor;
                border-bottom: 1px solid #000;
                padding-bottom: 10px;
                font-size: 14px;
                margin-right: 5px;
            }

            ul {
                li {
                    display: inline-block;
                    margin: 0 5px 5px 0;

                    a {
                        display: block;
                        width: 60px;
                        height: 28px;
                        line-height: 28px;      
                        font-size: 12px;       
                        background-color: #000;       
                        color: $headerLinkSecondColor;    

                        &:hover {
                            background-color: $defaultLinkColor;                            
                        }
                    }
                }
            }
        }

        .sidebar-footer {
            position: absolute;
            left: 15px;
            bottom: 15px;
            text-align: center;
            width: 86%;

            a {
                padding-left:15px;
                padding-right:15px;

                &:first-child {
                    margin-right: 30px;
                }
            }
        }
    }

    .sidebar-collapsed {
        display: none;
    }

    &.closed {
        width: 50px;

        .sidebar-expanded {
            display: none;
        }

        .sidebar-collapsed {
            display: block;
        }

        .close-bar-btn {
            left: 50px;
        }

        .icon-right {
            display: block;
        }

        .icon-left {
            display: none;
        }

        &.disable-expand {
            .close-bar-btn {
                display: none;
            }
        }
    }
}

.content-with-bars {
    position: relative;
    height: 100%;
    overflow: hidden;
    margin-left: 240px;
    margin-right: 340px;
    z-index: 2;
    box-sizing: border-box;
    overflow: hidden;
    height: 3000px;

    &.expanded-left {
        margin-left: 50px;
    }

    &.expanded-right {
        margin-right: 0;
    }
}

.right-page-bar {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 340px;
    z-index: 3;
    background: #FAFAFA;
}