.left-menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    z-index: 3;
    background-color: $headerBgColor;

    .close-bar-btn {
        width: 15px;
        position: absolute;
        top: 50%;
        left: 240px;
        background-color: $headerBgColor;
        padding: 20px 0;
        border-radius: 0 30px 30px 0;

        .icon-right {
            display: none;
        }

        &:hover {
            background-color: $defaultLinkColor;
            color: $headerLinkColor;
        }
    }

    // content
    .sidebar-expanded {
        text-align: center;
        padding: 15px;

        .sidebar-header {
            margin-bottom: 15px;

            .search-form {
                input[type="text"] {
                    width: 100%;
                }
            }

            ul {
                margin: 25px 0;
                text-align: left;

                li {
                    display: block;
                    margin-bottom: 15px;
                    font-size: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    a {
                        color: $headerLinkSecondColor;

                        i {
                            font-size: 20px;
                            width: 22px;
                            margin-right: 20px;
                            position: relative;
                            top: 2px;
                        }
                    }
                }
            }
        }

        .sidebar-content {
            position: absolute;
            left: 15px;
            right: 10px;
            top: 225px;
            bottom: 90px;

            h4 {
                text-align: left;
                margin-bottom: 10px;
                color: $headerLinkSecondColor;
                border-bottom: 1px solid #000;
                padding-bottom: 10px;
                font-size: 14px;
                margin-right: 5px;
            }

            ul {
                margin-bottom: 20px;

                li {
                    display: inline-block;
                    margin: 0 5px 5px 0;

                    a {
                        display: block;
                        width: 60px;
                        height: 28px;
                        line-height: 28px;      
                        font-size: 12px;       
                        background-color: #000;       
                        color: $headerLinkSecondColor;    

                        &:hover {
                            background-color: $defaultLinkColor;                            
                        }
                    }
                }
            }

            .sidebar-footer {
                border-top: 1px solid #000;
                padding-top: 10px;
                text-align: center;
                line-height: 25px;
                font-size: 12px;
                
                a {
                    color: #777;
                    margin-right: 10px;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }

        .sidebar-auth-buttons {
            position: absolute;
            left: 15px;
            bottom: 15px;
            text-align: center;
            width: 86%;

            a {
                padding-left:15px;
                padding-right:15px;

                &:first-child {
                    margin-right: 30px;
                }
            }
        }
    }

    .sidebar-collapsed {
        display: none;
        text-align: center;
        padding: 10px 5px;

        .logo {
            img {
                width: 40px;
                border-bottom: 1px solid $headerLinkColor;
                padding-bottom: 15px;
            }
        }

        ul {
            margin-top: 20px;

            li {
                margin-bottom: 20px;

                a {
                    color: $headerLinkColor;
                }                
            }
        }

        .sidebar-auth-buttons {
            position: absolute;
            bottom: 15px;   
            left: 10px;         
        }
    }

    &.closed {
        width: 50px;

        .sidebar-expanded {
            display: none;
        }

        .sidebar-collapsed {
            display: block;
        }

        .close-bar-btn {
            left: 50px;
        }

        .icon-right {
            display: block;
        }

        .icon-left {
            display: none;
        }

        &.disable-expand {
            .close-bar-btn {
                display: none;
            }
        }
    }
}

.content-with-bars {
    position: relative;
    height: 100%;
    overflow: hidden;
    margin-left: 240px;
    margin-right: 340px;
    z-index: 2;
    box-sizing: border-box;
    overflow: hidden;

    .middle-content {
        overflow: hidden; 
        height: 3000px;
    }

    &.expanded-left {
        margin-left: 50px;
    }

    &.expanded-right {
        margin-right: 0;
    }

        .header-filter {
        font-size: 12px;
        margin-bottom: 20px;
        padding-bottom: 5px;

        h3 {
            font-size: 26px;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .main-filter {
            border-bottom: 1px solid $footerFontColor;
            padding-bottom: 10px;
            margin-bottom: 20px;

            li {
                display: inline-block;
                margin-right: 20px;                

                a {
                    font-size: 14px;
                    
                    &.active {
                        color: $defaultFontColor;
                        padding-bottom: 7px;
                        border-bottom: 2px solid $defaultLinkColor;
                    }

                    &:hover {
                        padding-bottom: 7px;
                        border-bottom: 2px solid $defaultLinkColor;
                    }
                }
            }
        }

        .sub-filter {
            li {
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
    }
}

.right-page-bar {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 340px;
    z-index: 3;
    background: #ddd;

    .column-content {
        .no-login-contain {
            font-size: 14px;
            padding: 20px;

            p,
            ul,
            h3 {
                margin-bottom: 20px;
            }
            
            h3 {
                font-size: 20px;
                font-weight: bold;
            }

            p {
                line-height: 18px;
            }

            ul {
                li {
                    display: inline-block;
                    padding: 0 10px;
                    line-height: 30px;
                    background: $boxContainerBgColor;
                    border-left: 3px solid $defaultLinkColor;
                    margin-bottom: 10px;
                    list-style-position: inside;
                }
            }
        }
    }

    .close-bar-btn {
        width: 15px;
        position: absolute;
        top: 50%;
        right: 340px;
        background-color: #ddd;
        padding: 20px 0;
        border-radius: 30px 0 0 30px;

        &:hover {
            background-color: $defaultLinkColor;
            color: $headerLinkColor;
        }

        i {
            position: relative;
            left: 3px;
        }

        .icon-left {
            display: none;
        }
    }

    &.closed {
        width: 0;            

        .column-content {
            display: none;
        }

        .close-bar-btn {
            right: 0;

            .icon-left {
                display: block;
            }
            .icon-right {
                display: none;
            }
        }

        &.disable-expand {
            .close-bar-btn {
                display: none;
            }
        }
    }

    .auth-content {
        font-size: 12px;
        padding: 15px 10px;

        h5 {
            font-size: 20px;
            margin-bottom: 20px;
        }

        .header {
            padding-top: 15px;
            line-height: 20px;
            margin: 15px 0 10px;
            border-top: 1px solid rgba(0,0,0,.2);
            color: $footerFontColor;
            text-transform: uppercase;
        }

        .content-list {
            margin-bottom: 30px;

            li {
                display: block;
                height: 50px;
                overflow: hidden;
                padding: 5px 10px;

                a {
                    display: block;
                    color: $footerFontColor;

                    img {
                        width: 40px;
                        height: 40px;
                        float: left;
                        margin-right: 10px;
                    }

                    .info {
                        float: left;

                        .chanel-name {
                            display: block;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            line-height: 22px;
                            font-weight: bold;
                        }

                        .chanel-status {
                            display: block;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    &:hover {
                        .chanel-name {
                            color: $defaultLinkColor;
                        }
                    }
                }
            }
        }

        .recommended-content {
            margin-top: 20px;
        }
    }
}