#login-modal {
    .modal-title {
        font-size: 16px;
    }

    .modal-footer {
        text-align: center;
        
        p {
            text-align: center;
            margin-top: 20px;
            font-size: 12px;
        }
    }
}