.thumbnail-big-box {
    padding: 0 5px;
    display: inline-block;
    width: 50%;
    min-width: 175px;

    .thumbnail-big {
        position: relative;   
        overflow: hidden;
        font-size: 0;
        padding: 0;
        margin-bottom: 10px;
        box-shadow: 0 2px 5px $headerShadowColor;
        float: none;
        display: inline-block;                
        margin-right: 0;
        box-sizing: border-box;
        width: 100%;

        img {
            height: auto!important;
            width: 100%!important;
        }

        .layer {
            width: 100%;
            height: calc(100% - 37px);
        }
        
        .layer {
            position: absolute;
            display: none;
            transition: display 700ms;     
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1;
            opacity: 0.5;
            background: $thumbnailLayerBgColor;
        }
        
        .play-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -20px;
            margin-top: -50px;
            font-size: 50px;
            color: $thumbnailTitleFontColor;
            opacity: 0;
            transition: opacity 500ms;        
            z-index: 2;
        }

        .thumb-info {
            position: absolute;
            bottom: 37px;
            left: 0;
            width: 100%;
            z-index: 2;
            background-color: $thumbnailBigTitleBgColor;

            .title {
                word-break: keep-all;
                white-space: nowrap;
                overflow: hidden;

                font-size: 12px;
                display: block;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 10px;
                width: 100%;
                text-overflow: ellipsis;
                color: $thumbnailTitleFontColor;
            }        
        }
        
        .other_info {
            font-size: 11px;
            padding: 10px;
            display: block;
            margin-top: 5px;

            .author {
                display: block; 
                float: left;
                width: 60%;
                word-break: keep-all;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .viewers {
                display: block;
                position: absolute;
                right: 10px;
                font-size: 11px;
                color: $thumbnailBigViewerFontColor;
            }
        }

        &:hover {
            .layer {
                display: block;
                transition: display 1000ms;     
            }
            
            .play-icon {
                opacity: 1;
                transition: opacity 1000ms;
            }
        }

        //0.5625            
        @media screen and (min-width: $page-extra-large-query-width) {
            .thumb-info {
                .title {
                    font-size: 14px;
                }
            }
            
            .other_info {
                font-size: 13px;
                
                .viewers {
                    font-size: 12px;
                }
            }
        }
        @media screen and (min-width: $page-huge-query-width) {
            .thumb-info {
                .title {
                    font-size: 14px;
                }
            }
            
            .other_info {
                font-size: 13px;
                
                .viewers {
                    font-size: 12px;
                }
            }
        }
    }
}
