.thumbnail-small {
    position: relative;   
    overflow: hidden;
    font-size: 0;
    padding: 0;
    float: left;
    margin-bottom: 10px;
    text-align: left;

    .layer {
        position: absolute;
        display: none;
        transition: display 700ms; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.5;
        background: $thumbnailLayerBgColor;
    }

    img {
        height: 83px;
        width: 148px;
    }

    .play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -10px;
        margin-top: -25px;
        font-size: 30px;
        color: $thumbnailTitleFontColor;
        z-index: 2;
        opacity: 0;
        transition: opacity 500ms;
    }
    
    .thumb-info {
        position: absolute;
        bottom: -12px;
        transition: bottom 300ms;
        left: 0;
        width: 94%;
        z-index: 2;

        .title {
            word-break: keep-all;
            white-space: nowrap;
            overflow: hidden;

            font-size: 12px;
            display: block;
            padding-bottom: 5px;
            padding-left: 10px;
            width: 100%;
            text-overflow: ellipsis;
            -ms-text-overflow: ellipsis;
            color: $thumbnailTitleFontColor;
        }

        .other_info {
            font-size: 11px;
            padding-left: 10px;
            display: block;
            color: $thumbnailSmallOtherInfoFontColor;

            .author {
                display: block; 
                float: left;
                width: 100%;
                word-break: keep-all;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                -ms-text-overflow: ellipsis;
            }

            .viewers {
                display: none;
                position: absolute;
                right: 0;
                bottom: -1px;
                color: $thumbnailBigViewerFontColor;
            }
        }
    }

    &:hover {
        .thumb-info {
            bottom: 5px;
            transition: bottom 600ms;
        }

        .layer {
            display: block;
            transition: display 1000ms;     
        }
        
        .play-icon {
            opacity: 1;
            transition: opacity 1000ms;
        }
    }

    &:nth-child(1),
    &:nth-child(3) {
        margin-right: 5px;
    }
    &:nth-child(2),
    &:nth-child(4) {
        margin-left: 5px;
    }

    //0.5625            
    @media screen and (min-width: $page-extra-large-query-width) {
        img {
            width: 181px;
            height: 102px;
        }
        
        .thumb-info {
            .title {
                font-size: 14px;
            }
            
            .other_info {
                font-size: 13px;
                
                .author {
                    width: 45%;
                }
                
                .viewers {
                    display: block;
                    font-size: 12px;
                }
            }
        }
    }
    @media screen and (min-width: $page-huge-query-width) {
        img {
            width: 226px;
            height: 127px;
        }
    }
}