.user-content {
    margin-right: 0;
    padding-right: 0;

    ul {
        &.editor-opened {
            width: 734px;
            margin: 0 auto;
        }
    }

    .editor-panel {
        display: block;
        float: left;
        list-style-position: outside!important;
        width: 347px;
        color: #433f4a;
        text-align: left;
        overflow: hidden;
        font-size: 12px;
        line-height: 28px;
        margin-bottom: 20px;
        margin-right: 20px;


        form {
            display: inline-block;
            // width: 320px!important;
            height: 465px;
            padding: 10px;
            border: 1px solid #b8b5c0;
            background: #ddd;

            label {
                //margin-bottom: 5px;
                color: #433f4a;
                // cursor: move;
                display: inline-block;
                font-weight: 700;
                font-size: 12px;
            }

            input[type="text"],
            textarea {
                margin: 0 0 20px;
                line-height: 28px;
                padding: 0 7px;
                height: 30px;
                font: inherit;
                letter-spacing: inherit;
                color: #706a7c;
                vertical-align: top;
                border: 1px solid #dad8de;
                background-clip: padding-box;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                box-sizing: border-box;
                background: white;
                width: 327px;
                resize: none;
                border: none;
            }

            textarea {
                padding: 7px;
                line-height: 28px;
                box-sizing: border-box;
                width: 327px;
                max-height: 300px;
                resize: none;
                height: 118px;
                margin-bottom: 15px;
            }

            .remove-link {
                position: relative;
                left: 10px;
                top: 2px;
            }
        }

        .editor-content {
            .part {
                margin-bottom: 15px;           

                &.description {
                    margin-bottom: 0;
                }     
            }

            .title {
                line-height: 30px;
                margin-bottom: 0;
                font-size: 24px;
            }
        }

        .md-editor {
            outline: none;
            border: none;

            &.active {
                -webkit-box-shadow: inset 0 1px 1px $inputActiveShadowInsetColor, 0 0 8px rgba($inputActiveShadowColor,.6)!important;
                box-shadow: inset 0 1px 1px $inputActiveShadowInsetColor, 0 0 8px rgba($inputActiveShadowColor,.6)!important; 
            }

            button {
                margin-right: 2px;
            }
        }
    }

    
}