
.video-content {
    .video-box {
        position: relative;

        .live-video {
            height: 100%;
            width: 100%;
        }

        .video-controls {
            position: absolute;
            bottom: 0;
            background-color: $thumbnailBigTitleBgColor;
            width: 100%;
            padding: 6px 30px 10px;

            a {
                display: inline-block;
                font-size: 18px;
                color: $headerLinkColor;

                &.control-playing {
                    .fa-pause {
                        display: none;
                    }
                }

                &.control-volume {
                    margin-left: 15px;

                    .video-volume-down-icon {
                        display: none;
                    }

                    i {
                        width: 17px;
                    }
                }

                &.control-full-screen {
                    float: right;
                    position: relative;
                    top: 7px;

                    .video-compress-icon {
                        display: none;
                    }
                }
            }

            .volume-slider {
                display: inline-block;
                width: 110px;
                margin: 0 15px;
                padding: 0 5px;
                height: 24px;
                position: relative;
                top: 5px;
                cursor: pointer;

                &:before {
                    display: block;
                    position: absolute;
                    height: 4px;
                    top: 10px;
                    content: "";
                    width: 100%;
                    background: hsla(0,0%,100%,.35);
                }

                .volume-slider-range {
                    background: $defaultLinkColor;
                    display: block;
                    position: absolute;
                    height: 4px;
                    top: 10px;
                    width: 46%;
                }

                .volume-slider-handle {
                    pointer-events: none;
                    display: block;
                    height: 12px;;
                    width: 4px;
                    margin-left: 0;
                    position: absolute;
                    top: 5px;
                    background: $headerLinkColor;
                    cursor: pointer;
                    outline: none;
                    z-index: 1;
                    left: 46%;
                }
            }
        }

        .player-mini-controls {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -20px;
            margin-left: -50px;
            font-size: 40px;

            a {
                margin-right: 20px;
                color: $headerLinkColor;

                .fa-pause {
                    display: none;
                }
            }            
        }

        &.scrolled {
            &:hover {
                .player-mini-controls {
                    display: block;                
                }
            }           
        }
    }
    
    &.full-screen {
        width: 100%!important;

        .video-controls {
            .video-expand-icon {
                 display: none!important;
            }

            .video-compress-icon {
                display: inline-block!important;
            }
        }
    }

    @media screen and (max-width: 360px) {
        width: 100%!important;
    }

    @media screen and (min-width: 361px) and (max-width: $page-large-query-width) {
        width: 100%!important;
    }
}
