
.video-content {
    .video-box {
        position: relative;

        .live-video {
            height: 100%;
            width: 100%;
        }

        .video-controls {
            position: absolute;
            bottom: 0;
            background-color: $videoControlBgColor;
            width: 100%;
            padding: 10px 30px;
            opacity: 0;
            transition: opacity 500ms;

            a {
                display: inline-block;
                font-size: 18px;
                color: $videoControlFontColor;

                &.control-playing {
                    width: 17px;

                    .fa-pause {
                        display: none;
                    }
                }

                &.control-volume {
                    margin-left: 15px;

                    .video-volume-down-icon {
                        display: none;
                    }

                    i {
                        width: 17px;
                    }
                }

                &.control-full-screen {
                    float: right;
                    position: relative;
                    top: 0;

                    .video-compress-icon {
                        display: none;
                    }
                }
            }

            .volume-slider {
                display: inline-block;
                width: 110px;
                height: 3px;
                margin: 0 15px;
                position: relative;
                top: -4px;
                cursor: pointer;
                border-radius: 0;     
                background-color: $videoSliderBgColor;
                border: none;           

                .ui-slider-handle {
                    margin-left: -2px;
                    width: 5px;
                    height: 15px;
                    border-radius: 0;
                    top: -6px;
                    cursor: pointer;
                    border: none;
                    background-color: $videoSilderHandleBgColor;        
                    outline: none;            
                }

                .ui-slider-range {
                    background-color: $videoSliderRangeBgColor;
                }

                .ui-state-active,
                .ui-state-hover,
                .ui-state-focus {
                    background: $videoSliderHandleActiveBgColor;
                }
            }            
        }

        .player-mini-controls {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -20px;
            margin-left: -50px;            

            a {
                margin-right: 20px;
                color: $videoMiniControlFontColor;

                i {
                    font-size: 40px;
                }

                .fa-pause {
                    display: none;
                }
            }            
        }

        &.scrolled {
            &:hover {
                .player-mini-controls {
                    display: block;                
                }
            }           
        }

        &.full-screen {
            width: 100%!important;

            .video-controls {
                .video-expand-icon {
                    display: none!important;
                }

                .video-compress-icon {
                    display: inline-block!important;
                }
            }
        }

        &:hover {
            .video-controls {
                opacity: 1;
                transition: opacity 1000ms;
            }
            
        }
    }

    @media screen and (max-width: $page-large-query-width) {
        width: 100%!important;
    }
}
 
:-webkit-full-screen {
    background-color: $videoFullscreenBgColor;
}
